* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 100px;
    .pane {
        width: 100px;
        height: 100px;
        background: orange;
        cursor: move; // border-radius: 50%;
        // transform-origin: center;
    }
    .control {
        margin: 20px 0;
    }
}